.DS_Store
Workshop3/news-reader/news-reader.xcodeproj/project.xcworkspace/xcuserdata/
Workshop3/news-reader/news-reader.xcodeproj/xcuserdata/
Workshop2/news-reader/news-reader.xcodeproj/project.xcworkspace/xcuserdata/
Workshop2/news-reader/news-reader.xcodeproj/xcuserdata/
Workshop4/news-reader/news-reader.xcodeproj/project.xcworkspace/xcuserdata/
Workshop4/news-reader/news-reader.xcodeproj/xcuserdata/
ParticipationCertification-draft*
